@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%; // 1rem = 10px
}

body{
  background: #422680;
  min-height: 100vh;
}

.App{
  min-height: 100vh;
}

.header.nav{
  background: #660F56;
  padding: 0.5rem 1rem;
  color: white;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2rem;
}

.page{
  min-height: 100%;
  width: 95%;
  margin: 1rem auto 0;
}

.customlink{
  text-decoration: none;
  color: white;
  // Default color ALSO DEFINED in CustomLink.jsx Component
  background: #AE5D68; 
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}