@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%; // 1rem = 10px
}

body{
  background: #422680;
}

.header.nav{
  background: #660F56;
  padding: 0.5rem 1rem;
  color: white;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2rem;
}